<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

	<title>{% block title %}URL Shortener!{% endblock %}</title>
	<SCRIPT LANGUAGE="JavaScript">

		function copyToClipboard(text) {
  window.prompt("Copy to clipboard: Ctrl+C, Enter", text);
}

</SCRIPT>
</head>

<body>

<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
	<div class="container">
	   <ul class="nav pull-right navbar-nav">
			<li class="navbar-text">LIL.ONL </li>
	   </ul>
	   <ul class="nav navbar-nav">
			<li><a href="/">URL Shortener</a></li>
			<li><a href="/admin/">Admin</a></li>
	   </ul>
    </div>
</nav>
<div class="container-fluid">
<div class="row">
	<div class="col-sm-9 col-md-9">
		<center><h2><span class="label label-success">LIL.onl</span> We like to keep it Simple!</h2></center>
	{% block body_block %}
	{% endblock %}
	</div>
    <div class="col-sm-3 col-md-3">
        <div class="well sidebar-nav">
			 <strong><h3>Recent Links</h3> (Hover for Original Link)</strong>
				<div class="pre-scrollable" style="height: 900px; overflow: auto;">
					{% if recent_links %}
					<table class="table table-bordered">
						 {% for link in recent_links %}
						<tr style="height: 20px;">
							<td><a title="{{ link.url }}" href="http://{{ site_base_url }}/{{ link.generated_alias.word }}">{{ link.generated_alias.word }}</a></td>
						</tr>
            			{% endfor %}
					</table>
					{% else %}
						<strong>No Recent Links</strong>
					{% endif %}
				</div>
        </div>
    </div>


</div>
</div>
<footer>
	<div class="container">
		<center><p>Email for suggestions, chotu@lil.onl</p></center>
	</div>
</footer>
</body>
</html>